:root {
    --sm-break-point: 640px;
    --md-break-point: 768px;
    --lg-break-point: 1024px;
    --xl-break-point: 1280px;
}

/* Your CSS Goes Here 👇 */

/* Stylistic Purposes only, not part of the Exercise */

body {
    font-family: Arial, sans-serif;
}